<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Page Title</title>
    <link rel='stylesheet' href='stylesheet/style.css'>
</head>

<body>
    <div class="container2">
        <h1>Login to you Account</h1>
        <form class="form" action="/login" method="post">
            <input class="input" type="text" placeholder="Enter Email" name="email">
            <input class="input" type="password" placeholder="Enter Passowrd" name="password">
            <button class="createbt" type="submit" style="margin-bottom:20px;">Login</button>
        </form>
        <h3 style="color:#888; display:flex; justify-content:center;">Don't have account ?</h3>
        <a style="justify-content:center; color:blue; text-decoration:none; display:flex" href="/">Register</a>
    </div>
</body>

</html>