<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Page Title</title>
    <link rel='stylesheet' href='/stylesheet/style.css'>
</head>
<body>
    <div class="container2">
        <h1>Upload Profile Picture</h1>
        <form class="form" action="/profile/upload" method="post" enctype="multipart/form-data">
            <input style="font-size:21px; margin:20px 0;" type="file" name="image">  
            <button class="createbt" type="submit" style="margin-bottom:20px;">upload</button>
        </form>
    </div>
</body>
</html>